@font-face {
    font-family: "Entertainmasters-Sans";
    src: url('./fonts/EM-SANS.ttf');
}

@font-face {
    font-family: "Oswalt";
    src: url('./fonts/Oswald-Regular.ttf');
}

@font-face {
    font-family: "Product-Sans";
    src: url('./fonts/Product\ Sans\ Regular.ttf');
}

@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('./fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: "Montserrat-Light";
    src: url('./fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url('./fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('./fonts/Montserrat-Bold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: "JetbrainsMono";
    src: url('./fonts/JetBrainsMono-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(35,35,35)
}

.centre {
    text-align: center;
}

li > a {
    font-size: 18px;
    font-family: "Product-Sans";
}
.gif{
    width:50px;
    height: 50px;
}

li > a:hover {
   text-decoration: underline;
}

header > li, a {
    list-style: none;
    text-decoration: none;
    transition: 0.1s;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(20,20,20);
    padding: 15px 5%;
}

.logo {
    color: white;
    cursor: pointer;
    font-size: 30px;
    font-family: "Montserrat";
    transition: 0.25s;
}

.logo:hover, a:hover {
    opacity: 70%;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

a, a:visited {
    color: white;
}

footer {
    background-color: rgb(20,20,20);
}

.roundbtn {
    padding: 10px 20px;
    border-radius: 69px;
    font-family: "Montserrat";
    margin: 0px 10px;
    transition: 0.15s;
}

.footsections {
    text-align: center;
    display: flex;
    margin: 0px 100px;
}

.footsec, .sociallink {
    flex: 1;
}

.feetsec {
    color: rgb(210,210,210);
    margin-top: 20px;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.footlink, .sociallink {
    font-family: "Roboto";
    font-size: 14px;
    text-decoration: none;
}

.copyright {
    margin: 30px 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat";
}

.ihead {
    text-align: center;
    color: white;
    margin: 30px 30px;
    font-size: 30px;
    font-family: "Montserrat";
}

.projects {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto;
}

.project {
    margin: 10px;
    padding: 20px;
    background: rgb(15,15,15);
    border-radius: 15px;
}

.projectname, .projectshortdesc {
    color: rgb(230,230,230);
    font-family: "Montserrat";
}

.projectname {
    font-size: 25px;
    margin-bottom: 15px;
}

.projectshortdesc {
    font-family: "Montserrat-Light";
    margin-bottom: 50px;
}

.projectbtn, .normalbtn {
    background: #1f75ff;
    border: none;
}

.normalbtn:hover, .projectbtn:hover {
    background: #1955b5;
}

.projectsection {
    margin-left: 80px;
    font-family: "Montserrat";
    color: white;
}

.normalbtn {
    margin: -5px;
}

.projbtnrepo {
    background: rgb(20,20,20);
    border: solid rgb(65,65,65) 2px;
}

.projbtnrepo:hover {
    opacity: 70%;
}

.itxt {
    color: white;
    font-family: "Montserrat-Regular";
    margin: 20px;
}

.mainpagearticle {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./src/MainPageGif.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
}

.mpahead, .aphhead, .aphhead2 {
    font-family: "JetbrainsMono";
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
}

.aphbig {
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
}

.mpahead {
    font-family: "Entertainmasters-Sans";
}

.mpatxt, .aphtxt {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    color: rgb(220,220,220);
    margin-bottom: 30px;
}

.aboutpagehead2 {
    background: black;
    padding: 80px 120px;
}

.aphhead {
    color: rgb(220,220,220);
    font-family: "Montserrat";
}

.solutioninfo {
    text-align: center;
    padding: 15px;
    margin: 30px 300px;
    background: #0d3c61;
    border: solid 2px #1c7dc7;
    font-family: "Montserrat";
    color: #339ae8;
    border-radius: 5px;
}

.ac_productheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./src/Internet.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    font-family: "Montserrat";
    color: white;
}

.phname {
    font-size: 25px;
    margin-bottom: 10px;
}

.phdesc {
    margin-bottom: 30px;
}

.green_box {
    text-align: center;
    padding: 15px;
    margin: 30px 300px;
    background: #0e6322;
    border: solid 2px #29ba4b;
    font-family: "Montserrat";
    color: #29ba4b;
    border-radius: 5px;
}

.red_box {
    text-align: center;
    padding: 15px;
    margin: 30px 300px;
    background: #991414;
    border: solid 2px #ff4f4f;
    font-family: "Montserrat";
    color: #ff4f4f;
    border-radius: 5px;
}

.desktop_flex {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto;
}

.skyscrapperbackground {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./src/skyscrappers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 120px;
}

.numbergrid {
    text-align: center;
    justify-content: center;
    font-family: "Montserrat";
    color: rgb(220,220,220);
    display: flex;
}
  
.number {
    margin: 10px 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.numbernum {
    font-size: 60px;
}

.numbertext {
    font-size: 40px;
}

.ihead_2 {
    color: white;
    margin: 10px 60px;
    font-size: 20px;
    font-family: "Montserrat-Regular";
}

.mpahref {
    border-radius: 0px;
    background: transparent;
    border: solid 2px #382cbf;
    transition: 0.2s;
}

.mpahref:hover {
   opacity: 100%;
   background: rgb(0,0, 30);
   border: solid 2px #0d3c61;
}

.learninghead {
    font-family: "Montserrat";
    color: white;
    font-size: 40px;
    text-align: center;
}

.learninghead2, .learninghead3 {
    font-family: "Montserrat";
    color: white;
    font-size: 30px;
    margin-top: 60px;
    text-align: center;
}

.learninghead3 {
    text-align: left;
    margin: 60px 0px 0px 100px;
}

.learningheader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./src/learningbackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.learningtext {
    font-family: "Montserrat-Regular";
    color: white;
    font-size: 18px;
    margin: 20px 100px;
}

.learningtext > b {
    font-family: "Montserrat";
}

.licensinglink {
    text-align: right;
    margin: 30px;
}

.licenselink, .licenselink:visited {
    color:#339ae8;
    font-family: "Montserrat-Regular";
    text-decoration: underline;
}

/*.linkssection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}*/

.linkssection {
    margin: 0px 100px;
}

.normallink:hover {
    text-decoration: underline;
}

.linkk {
    margin: 10px 0px;
}

.normallink, .normallink:visited {
    transition: 0.2s;
    color:#339ae8;
    font-family: "Montserrat";
    font-size: 18px;
}

.mpahref2 {
    border-radius: 0px;
    background: transparent;
    border: none;
    transition: 0.2s;
}

.learninglectionarrow, .learninglectionarrow:visited {
    color: #1e5e8f;
}
